/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

// Colors
$red-color: #F75C2F !default;
$red-color-dark: #AB3B3A !default;
$orange-color: #E98B2A !default;
$blue-color: #005CAF !default;
$blue-color-dark: #113285 !default;
$cyan-color: #33A6B8 !default;
$light-cyan-color: #81C7D4 !default;
$green-color: #1B813E !default;
$green-color-lime: #BEC23F !default;
$green-color-dark: #1B813E !default;
$green-color-light: #FCFAF2 !default;
$green-color-bright: #00AA90 !default;
$purple-color: #C1328E !default;
$light-purple-color: #B28FCE !default;
$pink-color: #E03C8A !default;
$pink-color-light: #FEDFE1 !default;
$yellow-color: #FFC408 !default;

$grey-color: #828282 !default;
$grey-color-light: #FCFAF2 !default;
$grey-color-dark: #1C1C1C;
$grey-900: #1C1C1C;

$white-color: #FFFFFB !default;
$black-color: #080808 !default;

// Theme colors

$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: #373C38 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
